@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-in {
  animation: animateIn 0.3s ease 0.15s both;
}

@keyframes animateIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.slider {
  margin: 0 15px;
  overflow: "hidden";
  /* padding: 2rem 0; */
}

.sliderProducts {
  @apply mx-[8px] overflow-hidden;
  /* padding: 2rem 0; */
}

.gridProducts {
  @apply mx-1 overflow-hidden;
}

/* .slider img {
  width: 100%;
  border-radius: 10px;
} */

.react-multi-carousel-list {
  padding: 0rem 0 2rem 0;
}

/* .custom-dot-list-style button {
  border: none;
  background: rgb(128, 128, 128);
} 
*/

.react-multi-carousel-dot.react-multi-carousel-dot--active button {
  background: rgb(128, 128, 128) !important;
}

.product-details-container {
  @apply flex flex-col md:grid gap-4 mt-5;
  @layer grid-cols;
  grid-template-columns: 1.5fr 1fr;
}

.input-form {
  @apply appearance-none relative block w-full p-3 border border-purple-700 placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:ring-purple-700 focus:border-purple-700 focus:z-10 sm:text-sm bg-gray-50;
}

.input-button {
  @apply relative w-full flex justify-center p-3 border border-transparent text-sm font-medium rounded-md text-white bg-purple-700 hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-purple-700;
}

/* 
// container section
<div className="flex flex-col gap-20 items-center">
// area to fill with screen width
  <div className="w-full">
    <nav className="w-full flex justify-center border-b border-b-foreground/10 h-16">
    // the padding
      <div className="w-full max-w-4xl flex justify-between items-center p-3 text-sm">
        <DeployButton />
        <AuthButton />
      </div>
    </nav>
    <div className="py-6 font-bold bg-purple-950 text-center">
      This is a protected page that you can only see as an authenticated
      user Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Accusantium deleniti aspernatur quaerat magni enim facere, mollitia
      natus laboriosam reiciendis alias iste sequi quam numquam corporis,
      ducimus perspiciatis. Eaque, quas et?
    </div>
  </div>
</div>
 */

/* admin */
.link-management-buttons {
  @apply bg-purple-500 hover:bg-purple-600 text-white font-bold p-4 rounded-lg;
}

.section-link-container {
  @apply flex items-center text-sm;
}

.section-link {
  @apply text-purple-800;
}

.section-title {
  @apply text-purple-800 text-2xl font-bold my-5 mb-10;
}

.table-head-row {
  @apply px-4 py-2;
}

.table-body-row {
  @apply border px-4 py-2;
}

.navigate-buttons {
  @apply bg-purple-500 hover:bg-purple-600 text-white font-bold px-2 py-1 text-2xl rounded-lg;
}

/* Remove Arrows/Spinners */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* combobox */
.combobox-container {
  @apply w-full px-2 mb-2;
}

.combobox-label {
  @apply block font-semibold mb-1;
}

.combobox-input-group {
  @apply flex items-center border border-gray-300 rounded bg-white;
}

.combobox-input {
  @apply w-full px-3 py-2;
}

.combobox-button {
  @apply py-2 text-gray-500 rounded-r text-2xl;
}

.combobox-popover {
  @apply mt-1 border border-gray-300 rounded bg-white max-h-24 overflow-auto;
}

.combobox-list-item {
  @apply px-3 py-2 hover:bg-gray-200;
}
