@tailwind base;
@tailwind components;
@tailwind utilities;

.slider {
  margin: 0 15px;
  overflow: "hidden";
  /* padding: 2rem 0; */
}

.sliderProducts {
  @apply mx-[8px] overflow-hidden;
  /* padding: 2rem 0; */
}

.gridProducts {
  @apply mx-1 overflow-hidden;
}

/* .slider img {
  width: 100%;
  border-radius: 10px;
} */

.react-multi-carousel-list {
  padding: 0rem 0 2rem 0;
}

/* .custom-dot-list-style button {
  border: none;
  background: rgb(128, 128, 128);
} 
*/

.react-multi-carousel-dot.react-multi-carousel-dot--active button {
  background: rgb(128, 128, 128) !important;
}

.product-details-container {
  @apply flex flex-col md:grid gap-4 mt-5;
  @layer grid-cols;
  grid-template-columns: 1.5fr 1fr;
}
